<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/8a901d03fb.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      body {
        background-color: rgb(239, 234, 216)
        /* rgb(185, 155, 107) */
        /* rgb(243, 233, 159); */
      }

      .header-container {

        border-bottom: 1px solid rgb(13, 6, 36);
        background-color: gray;

      }

      .container {
      border: 1px solid rgb(13, 6, 36);
      border-radius: 15px;
      background-color: grey;
      
      
  }

    #digital-clock {
        font-size: 3vw;
        padding-top: 1vh;
        color: rgba(245, 245, 245, 0.686);
    }

    #current-date {
      font-size: 3vw;
      padding-top: 1vh ;
      color: rgba(245, 245, 245, 0.686);
    }
  
 /* Custom styling for the slider container */
 .slider-container {
  
    display: flex;
    align-items: center;
    padding-right: 10%;
  }

  /* Custom styling for the slider */
  .slider {
  
    width: 90% !important;
    
  }

  /* Custom styling for the number display */
  .slider-value {
    color: rgb(251, 148, 111);
    min-width: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

   
  /* Custom styling for the slider track */
  .slider-track {

    width: 100%;
    height: 1px;
    border-radius: 3px;
    background-color: #313437; /* Original blue color */
    transition: background-color 0.2s ease-in-out;
  }

  
/* CSS */
.card-1 {
    background-color: #988bacae;
}
.card-2 {
    background-color: #8fc3a9b1;
}
.card-3 {
    background-color: #eac659d4;
}
.card-4 {
    background-color: #354c6dca;
}
.card-5 {
    background-color: #834e69cc;
}
.card-6 {
    background-color: #9b663bc8;
}


 

.form-control {
    background-color: gray; /* Use the desired color */
}

#title {
    color: whitesmoke;
    text-align: center;
}

#divider {
    border-top: 3px solid rgba(251, 148, 111, 0.844);;
    width: 100%;
}

input[type="range"] {
  accent-color: rgb(251, 148, 111);
}

label {
    font-size: 12px; /* Adjust to your preferred size */
}

.stars {
    display: flex;
    justify-content: center;
    /* If you want to give some space between each star, you can use the following instead of margin in the .stars span */
    gap: 20px;
}

.stars span {
    cursor: pointer;
    font-size: 24px;
    color: blue;
    /* If you use gap in the .stars, you can remove the margin-right property */
    /* margin-right: 5px; */
}

.stars span.selected {
    color: yellow;
}


  


</style>

  
</head>


<header>
    <div class="header-container">
        <div class="row">
          <div class="col-2 col-md-2">
            <i class='fas fa-syringe' style='font-size:35px;color: rgba(251, 148, 111, 0.625); padding: 4vh 2vw 3vh;'></i>
            </div>
            <div class="col-7 col-md-6">
             
                <h6 class="display-2" style="color: whitesmoke;">DACC</h6>
                <h6>
                    <small class="text-body-secondary" style="color: whitesmoke; padding-left: 1vw;">Continuous asessment tool</small>
                </h6>
                </div>
                <div class="col-3 col-md-4">
                  <div id="current-date"></div>
                <div id="digital-clock"></div>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
  <br>

  <% if (typeof success !== 'undefined' && success && success.length > 0) { %>
    <div class="alert alert-success">
      <%= success[0] %>  <!-- Displaying the first message -->
    </div>
  <% } %>
    <div class="container">


      
    
    
    
      
      
       
        <!-- <hr id="divider"/> -->
        <form id="form-id" action="/assess" method="POST">
        <div class="row">
        <div class="col-12">
        <div class="card mb-4 mt-3 card-1" >
        <div class="card-body">
          <h3 id="title" style="color: whitesmoke; cursor: pointer;">Basic Data</h3>
        <hr id="divider"/>

       
        <p class="card-text" style="color: whitesmoke;">Date<sup><span style="color: red;">*</span></sup></p>
         
        <div class="form-group">
          <!-- <label for="assessmentDate">Assessment date</label> -->
          <input type="date" class="form-control" id="assessmentDate" name="date" required>
          <div class="input-group-append">
            <br>
            <button type="button" class="btn btn-secondary btn-sm" id="todayButton">Today</button>
          </div>
          <br>
          <p class="card-text" style="color: whitesmoke;">Registrar name<sup><span style="color: red;">*</span></sup></p>
         
        
        <div class="form-group">
             
            <div class="form-group">
              <!-- <label for="regName">Choose a name:</label> -->
              <select class="form-control" id="regName" name="regName" required>
                <option value="">Select</option>
                <% registrars.forEach(registrar => { %>
                  <option value="<%= registrar.firstname %> <%= registrar.surname %>">
                    <%= registrar.firstname %> <%= registrar.surname %>
                  </option>
                <% }) %>
              </select>
            
                
            </div>
            <br>
            



            
          
          <br>
          <p class="card-text" style="color: rgb(245, 245, 245);">Theatre or clinic<sup><span style="color: red;">*</span></sup></p>
          <div class="form-group">
              <!-- <label for="consName">Choose a name:</label> -->
              <select class="form-control" id="theatreName" name="theatreName" required>
                  <option value="">Select</option>
                  <option value="Emergency C/D">Emergency C/D</option>
                  <option value="Emergency Orthopaedics">Emergency Orthopaedics</option>
                  <option value="Emergency Caesarean Sections">Emergency Caesarean Sections</option>
                  <option value="Neurosurgery">Neurosurgery</option>
                  <option value="Plastic Surgery">Plastic Surgery</option>
                  <option value="Abdominal Surgery">Abdominal Surgery</option>
                  <option value="Cardiothoracics">Cardiothoracics</option>
                  <option value="Acute Care Surgery">Acute Care Surgery</option>
                  <option value="Vascular Surgery">Vascular Surgery</option>
                  <option value="Head, Neck, Breast">Head, Neck, Breast</option>
                  <option value="Trauma">Trauma</option>
                  <option value="ENT">ENT</option>
                  <option value="Day Surgery">Day Surgery</option>
                  <option value="Urology (I)">Urology (I)</option>
                  <option value="Urology (Outpatients)">Urology (Outpatients)</option>
                  <option value="Transplant Surgery">Transplant Surgery</option>
                  <option value="Ophthalmology">Ophthalmology</option>
                  <option value="Paediatric Surgery">Paediatric Surgery</option>
                  <option value="Paediatric Orthopaedics">Paediatric Orthopaedics</option>
                  <option value="Spines">Spines</option>
                  <option value="Orthopaedics (general)">Orthopaedics (general)</option>
                  <option value="Elective Caesers">Elective Caesers</option>
                  <option value="Robotics">Robotics</option>
                  <option value="Bronchoscopy">Bronchoscopy</option>
                  <option value="Radiotherapy (X-block)">Radiotherapy (X-block)</option>
                  <option value="Radiology">Radiology</option>
                  <option value="Pain Clinic">Pain Clinic</option>
                  <option value="Peri-operative Medicine Service">Peri-operative Medicine Service</option>
                  <option value="Obstetrics Clinic">Obstetrics Clinic</option>
                  <option value="Gynaecology">Gynaecology</option>
                  <option value="Burns">Burns</option>
                  <option value="Cardiology">Cardiology</option>
                  <option value="Interventional Pain list">Interventional Pain list</option>
                  <option value="Labour ward epidurals">Labour ward epidurals</option>
                  <option value="Angiography (C4BT)">Angiography (C4BT)</option>
              </select>
          </div>
          </div>
          
          </div>
        </div>
        </div>
        
        

 <!-- CArd number 1 Title: Academic / Clinal Card -->      
        

 <div class="col-12" >
        <div class="card mb-4 card-2" >
            <div class="card-body">
              <h3 id="title" style="color: whitesmoke; cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#academicSkillsContent">Clinical / Academic Skills</h3>
             
              <hr id="divider"/>

              <div class="collapse" id="academicSkillsContent">


<!-- Pre-op assessment acaScore1 -->

<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Pre-operative assessment 
      <sup>
          <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#aca1" style="cursor:pointer; font-size:12px; color: gray;"></i>
      </sup>
  </span>
  <span class="slider-value" id="acaScorevalue1"></span>
</p>

 
         
          
<!-- Modal -->
          <div class="modal fade" id="aca1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            
                
              </button>
            </div>
            <div class="modal-body">
              Hello 1
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
            </div>
          </div>
          </div>
          </div>

<!-- Slider -->
          <div class="form-group slider-container">
            <input type="range" class="form-control-range slider" id="acaScore1" name="acaScore1" min="0" max="5" step="1" value="0" oninput="setHasInteracted('acaScore1')">
            
          </div>
          <br>




<!-- Per-op plan acaScore2 -->
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Peri-operative plan
      <sup>
          <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#aca2" style="cursor:pointer; font-size:12px; color: gray;"></i>
      </sup>
  </span>
  <span class="slider-value" id="acaScorevalue2"></span>
</p>
          


<!-- Modal -->
          <div class="modal fade" id="aca2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          </button>
          </div>
          <div class="modal-body">
          Hello2
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          </div>
          </div>
          </div>
          </div>
<!-- Slider -->
              <div class="form-group slider-container">
                      <input type="range" class="form-control-range slider" id="acaScore2" name="acaScore2" min="0" max="5" step="1" value="0" oninput="setHasInteracted('acaScore2')">
                     
                    </div>
                    <br>




<!-- Academic / Clinical Knowledge acaScore3 -->
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Academic / Clinical Knowledge
      <sup>
          <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#aca3" style="cursor:pointer; font-size:12px; color: gray;"></i>
      </sup>
  </span>
  <span class="slider-value" id="acaScorevalue3"></span>
</p>
          
            
<!-- Modal -->
        <div class="modal fade" id="aca3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          </button>
          </div>
          <div class="modal-body">
          Hello2
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
          </div>
          </div>
          </div>
          </div>
<!-- Slider -->
          <div class="form-group slider-container">
              <input type="range" class="form-control-range slider" id="acaScore3" name="acaScore3" min="0" max="5" step="1" value="0" oninput="setHasInteracted('acaScore3')">
              
       
            </div>
            <br>


<!-- Data interpretation acaScore4 -->
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Data Interpretation
      <sup>
          <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#aca4" style="cursor:pointer; font-size:12px; color: gray;"></i>
      </sup>
  </span>
  <span class="slider-value" id="acaScorevalue4"></span>
</p>
      

  <!-- Modal -->
          <div class="modal fade" id="aca4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            </button>
            </div>
            <div class="modal-body">
            Hello2
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
            </div>
            </div>
            </div>
            </div>

  <!-- Slider -->
                  <div class="form-group slider-container">
                    <input type="range" class="form-control-range slider" id="acaScore4" name="acaScore4" min="0" max="5" step="1" value="0" oninput="setHasInteracted('acaScore4')">
                    
                   
                  </div>
                  <br>



<!-- Interest in teaching acaScore5 -->
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Interest in Teaching
      <sup>
          <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#aca5" style="cursor:pointer; font-size:12px; color: gray;"></i>
      </sup>
  </span>
  <span class="slider-value" id="acaScorevalue5"></span>
</p>
  
  
<!-- Modal -->
      <div class="modal fade" id="aca5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        </button>
        </div>
        <div class="modal-body">
        Hello2
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
        </div>
        </div>
        </div>
        </div>

  <!--Slider  -->
   <div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="acaScore5" name="acaScore5" min="0" max="5" step="1" value="0" oninput="setHasInteracted('acaScore5')">
  
  </div>
    
    </div>
  </div>
</div>
</div>
</div>




<!-- Card Number 2 Title - Adult Technical Skills -->


    <div class="col-12">
      <div class="card mb-4 card-3" >
          <div class="card-body">
            <h3 id="title" style="color: whitesmoke; cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#academicSkillsContent2">Adult Technical Skills</h3>
          
            <hr id="divider"/>
            
            <div class="collapse" id="academicSkillsContent2">



<!-- CVC -  technicalScore1 -->
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  
      Central Venous Catheter (CVP)
     
  <span class="slider-value" id="technicalScorevalue1"></span>
</p>
            
          

<!-- Slider -->
            <div class="form-group slider-container">
            <input type="range" class="form-control-range slider" id="technicalScore1" name="technicalScore1" min="0" max="5" step="1" value="0">
          
          </div>
          <br>


<!-- Checkboxes -->
          <div class="form-group">
            <!-- <label>Choose one:</label> -->
            <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="techObserver1" name="techsuperSc1" value="1">
                <label class="form-check-label" for="techObserver1">Observer</label>
            </div> -->
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="techDirect1" name="techsuperSc1" value="2">
                <label class="form-check-label" for="techDirect1">Direct</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="techIndirect1" name="techsuperSc1" value="3">
                <label class="form-check-label" for="techIndirect1">Indirect</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="techIndependent1" name="techsuperSc1" value="4">
                <label class="form-check-label" for="techIndependent1">Independent</label>
            </div>
          </div>


          
<!-- Arterial line technicalScore2 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  
      Arterial Line
     

  <span class="slider-value" id="technicalScorevalue2"></span>
</p>
                 
       
          
       
        <!-- Slider -->
                    <div class="form-group slider-container">
                    <input type="range" class="form-control-range slider" id="technicalScore2" name="technicalScore2" min="0" max="5" step="1" value="0">
                   
                  </div>
                  <br>
        
        
        <!-- Checkboxes -->
                  <div class="form-group">
                    <!-- <label>Choose one:</label> -->
                    <!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="techObserver2" name="techsuperSc2" value="1">
                        <label class="form-check-label" for="techObserver2">Observer</label>
                    </div> -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="techDirect2" name="techsuperSc2" value="2">
                        <label class="form-check-label" for="techDirect2">Direct</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="techIndirect2" name="techsuperSc2" value="3">
                        <label class="form-check-label" for="techIndirect2">Indirect</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="techIndependent2" name="techsuperSc2" value="4">
                        <label class="form-check-label" for="techIndependent2">Independent</label>
                    </div>
                  </div>
        
        
        <!-- Lumbar Epidural - technicalScore3 -->
<br>
        <p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
        
              Lumbar Epidural
             
        
          <span class="slider-value" id="technicalScorevalue3"></span>
        </p>

<!-- Slider for Lumbar Epidural -->
<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalScore3" name="technicalScore3" min="0" max="5" step="1" value="0" oninput="setHasInteracted('technicalScore3')">
  
</div>
<br>
<!-- Checkboxes for Lumbar Epidural -->
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techObserver3" name="techsuperSc3" value="1">
        <label class="form-check-label" for="techObserver3">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techDirect3" name="techsuperSc3" value="2">
        <label class="form-check-label" for="techDirect3">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndirect3" name="techsuperSc3" value="3">
        <label class="form-check-label" for="techIndirect3">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndependent3" name="techsuperSc3" value="4">
        <label class="form-check-label" for="techIndependent3">Independent</label>
    </div>
</div>

<!-- Thoracic Epidural - technicalScore4 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Thoracic Epidural
     
  </span>
  <span class="slider-value" id="technicalScorevalue4"></span>
</p>

<!-- Slider for Thoracic Epidural -->
<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalScore4" name="technicalScore4" min="0" max="5" step="1" value="0" oninput="setHasInteracted('technicalScore4')">
   
</div>
<br>
<!-- Checkboxes for Thoracic Epidural -->
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techObserver4" name="techsuperSc4" value="1">
        <label class="form-check-label" for="techObserver4">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techDirect4" name="techsuperSc4" value="2">
        <label class="form-check-label" for="techDirect4">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndirect4" name="techsuperSc4" value="3">
        <label class="form-check-label" for="techIndirect4">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndependent4" name="techsuperSc4" value="4">
        <label class="form-check-label" for="techIndependent4">Independent</label>
    </div>
</div>

<!-- Spinal Anaesthesia - technicalScore5 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Spinal Anaesthesia
     
  </span>
  <span class="slider-value" id="technicalScorevalue5"></span>
</p>

<!-- Slider for Spinal Anaesthesia -->
<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalScore5" name="technicalScore5" min="0" max="5" step="1" value="0" oninput="setHasInteracted('technicalScore5')">
   
</div>
<br>
<!-- Checkboxes for Spinal Anaesthesia -->
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techObserver5" name="techsuperSc5" value="1">
        <label class="form-check-label" for="techObserver5">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techDirect5" name="techsuperSc5" value="2">
        <label class="form-check-label" for="techDirect5">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndirect5" name="techsuperSc5" value="3">
        <label class="form-check-label" for="techIndirect5">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndependent5" name="techsuperSc5" value="4">
        <label class="form-check-label" for="techIndependent5">Independent</label>
    </div>
</div>

<!-- Nerve Blocks - technicalScore6 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Nerve Blocks
     
  </span>
  <span class="slider-value" id="technicalScorevalue6"></span>
</p>

<!-- Slider for Nerve Blocks -->
<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalScore6" name="technicalScore6" min="0" max="5" step="1" value="0" oninput="setHasInteracted('technicalScore6')">
    
</div>
<br>
<!-- Checkboxes for Nerve Blocks -->
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techObserver6" name="techsuperSc6" value="1">
        <label class="form-check-label" for="techObserver6">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techDirect6" name="techsuperSc6" value="2">
        <label class="form-check-label" for="techDirect6">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndirect6" name="techsuperSc6" value="3">
        <label class="form-check-label" for="techIndirect6">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndependent6" name="techsuperSc6" value="4">
        <label class="form-check-label" for="techIndependent6">Independent</label>
    </div>
</div>

<!-- Airway management - technicalScore7 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Airway Management
     
  </span>
  <span class="slider-value" id="technicalScorevalue7"></span>
</p>

<!-- Slider for Airway management -->
<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalScore7" name="technicalScore7" min="0" max="5" step="1" value="0" oninput="setHasInteracted('technicalScore7')">
    
</div>
<br>
<!-- Checkboxes for Airway management -->
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techObserver7" name="techsuperSc7" value="1">
        <label class="form-check-label" for="techObserver7">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techDirect7" name="techsuperSc7" value="2">
        <label class="form-check-label" for="techDirect7">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndirect7" name="techsuperSc7" value="3">
        <label class="form-check-label" for="techIndirect7">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndependent7" name="techsuperSc7" value="4">
        <label class="form-check-label" for="techIndependent7">Independent</label>
    </div>
</div>

<!-- Fibre-optic Intubation - technicalScore8 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Fibreoptic Intubation
     
  </span>
  <span class="slider-value" id="technicalScorevalue8"></span>
</p>

<!-- Slider for Fibre-optic Intubation -->
<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalScore8" name="technicalScore8" min="0" max="5" step="1" value="0" oninput="setHasInteracted('technicalScore8')">
    
</div>
<br>
<!-- Checkboxes for Fibre-optic Intubation -->
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techObserver8" name="techsuperSc8" value="1">
        <label class="form-check-label" for="techObserver8">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techDirect8" name="techsuperSc8" value="2">
        <label class="form-check-label" for="techDirect8">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndirect8" name="techsuperSc8" value="3">
        <label class="form-check-label" for="techIndirect8">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndependent8" name="techsuperSc8" value="4">
        <label class="form-check-label" for="techIndependent8">Independent</label>
    </div>
</div>

<!-- Double-lumen ETT - technicalScore9 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Double-lumen ETT
     
  </span>
  <span class="slider-value" id="technicalScorevalue9"></span>
</p>

<!-- Slider for Double-lumen ETT -->
<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalScore9" name="technicalScore9" min="0" max="5" step="1" value="0" oninput="setHasInteracted('technicalScore9')">
    
</div>
<br>
<!-- Checkboxes for Double-lumen ETT -->
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techObserver9" name="techsuperSc9" value="1">
        <label class="form-check-label" for="techObserver9">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techDirect9" name="techsuperSc9" value="2">
        <label class="form-check-label" for="techDirect9">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndirect9" name="techsuperSc9" value="3">
        <label class="form-check-label" for="techIndirect9">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndependent9" name="techsuperSc9" value="4">
        <label class="form-check-label" for="techIndependent9">Independent</label>
    </div>
</div>

<!-- FATE skills - technicalScore10 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
     FATE Skills
     
  </span>
  <span class="slider-value" id="technicalScorevalue10"></span>
</p>

<!-- Slider for FATE skills -->
<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalScore10" name="technicalScore10" min="0" max="5" step="1" value="0" oninput="setHasInteracted('technicalScore10')">
  
</div>
<br>
<!-- Checkboxes for FATE skills -->
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techObserver10" name="techsuperSc10" value="1">
        <label class="form-check-label" for="techObserver10">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techDirect10" name="techsuperSc10" value="2">
        <label class="form-check-label" for="techDirect10">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndirect10" name="techsuperSc10" value="3">
        <label class="form-check-label" for="techIndirect10">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndependent10" name="techsuperSc10" value="4">
        <label class="form-check-label" for="techIndependent10">Independent</label>
    </div>
</div>

<!-- TOE skills - technicalScore11 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      TOE Skills
     
  </span>
  <span class="slider-value" id="technicalScorevalue11"></span>
</p>

<!-- Slider for TOE skills -->
<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalScore11" name="technicalScore11" min="0" max="5" step="1" value="0" oninput="setHasInteracted('technicalScore11')">
   
</div>
<br>
<!-- Checkboxes for TOE skills -->
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techObserver11" name="techsuperSc11" value="1">
        <label class="form-check-label" for="techObserver11">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techDirect11" name="techsuperSc11" value="2">
        <label class="form-check-label" for="techDirect11">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndirect11" name="techsuperSc11" value="3">
        <label class="form-check-label" for="techIndirect11">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndependent11" name="techsuperSc11" value="4">
        <label class="form-check-label" for="techIndependent11">Independent</label>
    </div>
</div>

<!-- Pulmonary Artery Catheter - technicalScore12 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Pulmonary Artery Catheter
     
  </span>
  <span class="slider-value" id="technicalScorevalue12"></span>
</p>

<!-- Slider for Pulmonary Artery Catheter -->
<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalScore12" name="technicalScore12" min="0" max="5" step="1" value="0" oninput="setHasInteracted('technicalScore12')">
    
</div>
<br>
<!-- Checkboxes for Pulmonary Artery Catheter -->
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techObserver12" name="techsuperSc12" value="1">
        <label class="form-check-label" for="techObserver12">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techDirect12" name="techsuperSc12" value="2">
        <label class="form-check-label" for="techDirect12">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndirect12" name="techsuperSc12" value="3">
        <label class="form-check-label" for="techIndirect12">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndependent12" name="techsuperSc12" value="4">
        <label class="form-check-label" for="techIndependent12">Independent</label>
    </div>
</div>

<!-- Haemodynamic management - technicalScore13 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Haemodynamic management
     
  </span>
  <span class="slider-value" id="technicalScorevalue13"></span>
</p>

<!-- Slider for Haemodynamic management -->
<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalScore13" name="technicalScore13" min="0" max="5" step="1" value="0" oninput="setHasInteracted('technicalScore13')">
    
</div>
<br>
<!-- Checkboxes for Haemodynamic management -->
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techObserver13" name="techsuperSc13" value="1">
        <label class="form-check-label" for="techObserver13">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techDirect13" name="techsuperSc13" value="2">
        <label class="form-check-label" for="techDirect13">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndirect13" name="techsuperSc13" value="3">
        <label class="form-check-label" for="techIndirect13">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techIndependent13" name="techsuperSc13" value="4">
        <label class="form-check-label" for="techIndependent13">Independent</label>
    </div>
</div>
</div>
          </div>
          </div>          
                










<!-- Card Number 2 Title - Paediatric Technical Skills -->


<div class="col-12">
  <div class="card mb-4 card-4" >
      <div class="card-body">
        <h3 id="title" style="color: whitesmoke; cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#academicSkillsContent3">Paediatric Technical Skills</h3>
      
        <hr id="divider"/>
        
        <div class="collapse" id="academicSkillsContent3">



<!-- IV Cannula -  technicalPScore1 -->
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      IV Cannula
     
  </span>
  <span class="slider-value" id="technicalPScorevalue1"></span>
</p>
             
        
      

<!-- Slider -->
        <div class="form-group slider-container">
        <input type="range" class="form-control-range slider" id="technicalSPcore1" name="technicalPScore1" min="0" max="5" step="1" value="0">
       
      </div>
      <br>


<!-- Checkboxes -->
      <div class="form-group">
        <!-- <label>Choose one:</label> -->
        <!-- <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="techPObserver1" name="techsuperPSc1" value="1">
            <label class="form-check-label" for="techPObserver1">Observer</label>
        </div> -->
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="techPDirect1" name="techsuperPSc1" value="2">
            <label class="form-check-label" for="techPDirect1">Direct</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="techPIndirect1" name="techsuperPSc1" value="3">
            <label class="form-check-label" for="techPIndirect1">Indirect</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="techPIndependent1" name="techsuperPSc1" value="4">
            <label class="form-check-label" for="techPIndependent1">Independent</label>
        </div>
        </div>
    
<!-- Arterial Line - technicalPScore2 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Arterial Line
     
  </span>
  <span class="slider-value" id="technicalPScorevalue2"></span>
</p>

<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalSPcore2" name="technicalPScore2" min="0" max="5" step="1" value="0">
   
</div>
<br>
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPObserver2" name="techsuperPSc2" value="1">
        <label class="form-check-label" for="techPObserver2">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPDirect2" name="techsuperPSc2" value="2">
        <label class="form-check-label" for="techPDirect2">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPIndirect2" name="techsuperPSc2" value="3">
        <label class="form-check-label" for="techPIndirect2">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPIndependent2" name="techsuperPSc2" value="4">
        <label class="form-check-label" for="techPIndependent2">Independent</label>
    </div>
</div>

<!-- CVC - technicalPScore3 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Central Venous Line (CVP)
     
  </span>
  <span class="slider-value" id="technicalPScorevalue3"></span>
</p>

<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalSPcore3" name="technicalPScore3" min="0" max="5" step="1" value="0">
    
</div>
<br>
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPObserver3" name="techsuperPSc3" value="1">
        <label class="form-check-label" for="techPObserver3">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPDirect3" name="techsuperPSc3" value="2">
        <label class="form-check-label" for="techPDirect3">Direct</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="techPIndirect3" name="techsuperPSc3" value="3">
          <label class="form-check-label" for="techPIndirect3">Indirect</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="techPIndependent3" name="techsuperPSc3" value="4">
          <label class="form-check-label" for="techPIndependent3">Independent</label>
      </div>
  </div>
      
  <!-- Airway management - technicalPScore4 -->
  <br>
  <p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
    <span>
        Airway Management
       
    </span>
    <span class="slider-value" id="technicalScorevalue4"></span>
  </p>

<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalSPcore4" name="technicalPScore4" min="0" max="5" step="1" value="0">
    
</div>
<br>
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPObserver4" name="techsuperPSc4" value="1">
        <label class="form-check-label" for="techPObserver4">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPDirect4" name="techsuperPSc4" value="2">
        <label class="form-check-label" for="techPDirect4">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPIndirect4" name="techsuperPSc4" value="3">
        <label class="form-check-label" for="techPIndirect4">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPIndependent4" name="techsuperPSc4" value="4">
        <label class="form-check-label" for="techPIndependent4">Independent</label>
    </div>
</div>

<!-- Caudal anaesthesia - technicalPScore5 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Caudal Anaesthesia
     
  </span>
  <span class="slider-value" id="technicalPScorevalue5"></span>
</p>

<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalSPcore5" name="technicalPScore5" min="0" max="5" step="1" value="0">
    
</div>
<br>
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPObserver5" name="techsuperPSc5" value="1">
        <label class="form-check-label" for="techPObserver5">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPDirect5" name="techsuperPSc5" value="2">
        <label class="form-check-label" for="techPDirect5">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPIndirect5" name="techsuperPSc5" value="3">
        <label class="form-check-label" for="techPIndirect5">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPIndependent5" name="techsuperPSc5" value="4">
        <label class="form-check-label" for="techPIndependent5">Independent</label>
    </div>
</div>

<!-- Epidural anaesthesia - technicalPScore6 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Epidural Anaesthesia
     
  </span>
  <span class="slider-value" id="technicalPScorevalue6"></span>
</p>

<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalSPcore6" name="technicalPScore6" min="0" max="5" step="1" value="0">
  
</div>
<br>
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPObserver6" name="techsuperPSc6" value="1">
        <label class="form-check-label" for="techPObserver6">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPDirect6" name="techsuperPSc6" value="2">
        <label class="form-check-label" for="techPDirect6">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPIndirect6" name="techsuperPSc6" value="3">
        <label class="form-check-label" for="techPIndirect6">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPIndependent6" name="techsuperPSc6" value="4">
        <label class="form-check-label" for="techPIndependent6">Independent</label>
    </div>
</div>


<!-- General Care - technicalPScore7 -->
<br>
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      General Care
     
  </span>
  <span class="slider-value" id="technicalPScorevalue7"></span>
</p>

<div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="technicalSPcore7" name="technicalPScore7" min="0" max="5" step="1" value="0">
   
</div>
<br>
<div class="form-group">
    <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPObserver7" name="techsuperPSc7" value="1">
        <label class="form-check-label" for="techPObserver7">Observer</label>
    </div> -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPDirect7" name="techsuperPSc7" value="2">
        <label class="form-check-label" for="techPDirect7">Direct</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPIndirect7" name="techsuperPSc7" value="3">
        <label class="form-check-label" for="techPIndirect7">Indirect</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="techPIndependent7" name="techsuperPSc7" value="4">
        <label class="form-check-label" for="techPIndependent7">Independent</label>
    </div>
</div>
</div>
</div>
</div>

    
         
        




<!-- Card 3 Title Non-technical Skills -->


  
  <div class="col-12">
    <div class="card mb-4 card-5" >
        <div class="card-body">
          
          <h3 id="title" style="color: whitesmoke; cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#academicSkillsContent4">Non-technical Skills</h3>
          
          <hr id="divider"/>
          
          <div class="collapse" id="academicSkillsContent4">
<!-- Critical descison nonScore1 -->
<p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
  <span>
      Critical Descision Making
      <sup>
          <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#non1" style="cursor:pointer; font-size:12px; color: gray;"></i>
      </sup>
  </span>
  <span class="slider-value" id="nonScorevalue1"></span>
</p>
  
  <!-- Modal -->
<div class="modal fade" id="non1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
  </button>
  </div>
  <div class="modal-body">
  Hello2
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
  </div>
  </div>
  </div>
  </div> 
  <!-- Slider -->
  <div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="nonScore1" name="nonScore1" min="0" max="5" step="1" value="0" oninput="setHasInteracted('nonScore1')">
   
  </div>



<!-- Attention to detal nonScore2 -->

  <br>
  <p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
    <span>
        Attention to Detail
        <sup>
            <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#non2" style="cursor:pointer; font-size:12px; color: gray;"></i>
        </sup>
    </span>
    <span class="slider-value" id="nonScorevalue2"></span>
  </p>
 
 
  <!-- Modal -->
      <div class="modal fade" id="non2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        </button>
        </div>
        <div class="modal-body">
        Hello2
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
        </div>
        </div>
        </div>
        </div>  
  
  
  <!-- Slider -->
  <div class="form-group slider-container">
    <input type="range" class="form-control-range slider" id="nonScore2" name="nonScore2" min="0" max="5" step="1" value="0" oninput="setHasInteracted('nonScore2')">
    
  </div>
  


<!-- Communication with colleagues nonScore3 -->
       
      <br>
      <p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
        <span>
            Communication with Colleagues
            <sup>
                <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#non3" style="cursor:pointer; font-size:12px; color: gray;"></i>
            </sup>
        </span>
        <span class="slider-value" id="nonScorevalue3"></span>
      </p>
      
   <!-- Modal -->
      <div class="modal fade" id="non3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        </button>
        </div>
        <div class="modal-body">
        Hello2
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
        </div>
        </div>
        </div>
        </div>   
      
<!-- Slider -->
      <div class="form-group slider-container">
        <input type="range" class="form-control-range slider" id="nonScore3" name="nonScore3" min="0" max="5" step="1" value="0" oninput="setHasInteracted('nonScore3')">
       
      </div>


<!-- Communcation with colleagues nonScore4 -->
      <br>
      <p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
        <span>
            Communication with Patients
            <sup>
                <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#non4" style="cursor:pointer; font-size:12px; color: gray;"></i>
            </sup>
        </span>
        <span class="slider-value" id="nonScorevalue4"></span>
      </p>
       
 
<!-- Modal -->
<div class="modal fade" id="non4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
  </button>
  </div>
  <div class="modal-body">
  Hello2
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
  </div>
  </div>
  </div>
  </div> 
      
<!-- Slider -->
       <div class="form-group slider-container">
        <input type="range" class="form-control-range slider" id="nonScore4" name="nonScore4" min="0" max="5" step="1" value="0" oninput="setHasInteracted('nonScore4')">
       
      </div>


<!-- Presentation technique nonScore5 -->
      <br>
      <p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
        <span>
            Presentation Technique
            <sup>
                <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#non5" style="cursor:pointer; font-size:12px; color: gray;"></i>
            </sup>
        </span>
        <span class="slider-value" id="nonScorevalue5"></span>
      </p>
     

<!-- Modal -->
<div class="modal fade" id="non5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
  </button>
  </div>
  <div class="modal-body">
  Hello2
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
  </div>
  </div>
  </div>
  </div> 
   
<!-- SLider -->
      <div class="form-group slider-container">
       <input type="range" class="form-control-range slider" id="nonScore5" name="nonScore5" min="0" max="5" step="1" value="0" oninput="setHasInteracted('nonScore5')">
     
     </div>


<!-- Professionalism nonScore6 -->
     <br>
     <p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
      <span>
          Professionalism
          <sup>
              <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#non6" style="cursor:pointer; font-size:12px; color: gray;"></i>
          </sup>
      </span>
      <span class="slider-value" id="nonScorevalue6"></span>
    </p>
     
     
<!-- Modal -->
<div class="modal fade" id="non6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
  </button>
  </div>
  <div class="modal-body">
  Hello2
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
  </div>
  </div>
  </div>
  </div> 

<!-- Slider -->
      <div class="form-group slider-container">
       <input type="range" class="form-control-range slider" id="nonScore6" name="nonScore6" min="0" max="5" step="1" value="0" oninput="setHasInteracted('nonScore6')">
      
     </div>



<!-- Ability to work independantly nonScore7 -->

     <br>
     <p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
      <span>
          Ability to Work Independantly
          <sup>
              <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#non7" style="cursor:pointer; font-size:12px; color: gray;"></i>
          </sup>
      </span>
      <span class="slider-value" id="nonScorevalue7"></span>
    </p>
    
    
<!-- Modal -->
<div class="modal fade" id="non7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
  </button>
  </div>
  <div class="modal-body">
  Hello2
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
  </div>
  </div>
  </div>
  </div> 
<!-- Slider -->
     <div class="form-group slider-container">
      <input type="range" class="form-control-range slider" id="nonScore7" name="nonScore7" min="0" max="5" step="1" value="0" oninput="setHasInteracted('nonScore7')">

    </div>




<!-- Logistical organisational skill nonScore8 -->
    <br>
    <p class="card-text" style="color: whitesmoke; display: flex; align-items: center; justify-content: space-between;">
      <span>
          Logistics Organisational Skill
          <sup>
              <i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#non8" style="cursor:pointer; font-size:12px; color: gray;"></i>
          </sup>
      </span>
      <span class="slider-value" id="nonScorevalue8"></span>
    </p>
    
    
<!-- Modal -->
<div class="modal fade" id="non8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
  </button>
  </div>
  <div class="modal-body">
  Hello2
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
  </div>
  </div>
  </div>
  </div> 
    
<!-- Slider -->
     <div class="form-group slider-container">
      <input type="range" class="form-control-range slider" id="nonScore8" name="nonScore8" min="0" max="5" step="1" value="0" oninput="setHasInteracted('nonScore8')">
     
    </div>
    </div>
    </div>
    </div>

    <div class="col-12">
      <div class="card mb-4 mt-4 card-6" >
          <div class="card-body">
            <h3 id="title" style="color: whitesmoke; cursor: pointer;">Overall Impression</h3>
            <hr id="divider"/>
            

            <div class="stars">
              <span data-value="1"></span>
              <span data-value="2"></span>
              <span data-value="3"></span>
              <span data-value="4"></span>
              <span data-value="5"></span>
          </div>
          <br>
          <p id="ratingText" style="color: whitesmoke; text-align: center;"></p>

          <input type="hidden" id="ratingValue" name="rating" value="0">






            
              </div>
              </div>
      </div>

            
      <!-- Comments -->


      <div class="col-12">
        <div class="card mb-4 mt-4 card-6" >
            <div class="card-body">
              <h3 id="title" style="color: whitesmoke; cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#academicSkillsContent5">Comments</h3>
              
              <hr id="divider"/>
              
              <div class="collapse" id="academicSkillsContent5">



              <div class="col-12">
                <div class="card mb-4" >
                    <div class="card-body">
                      <h5 class="card-title">Positive comments:<sup><i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#red1" style="cursor:pointer; font-size:12px; color: gray;"></i></sup></h5>
                       <!-- Modal -->
              <div class="modal fade" id="red1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                </button>
                </div>
                <div class="modal-body">
                Hello2
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
                </div>
                </div>
                </div>
                </div> 
                      
                      
                      <div class="form-group">
                       
                        <textarea class="form-control" id="positiveComments" name="positiveComments" rows="4"></textarea>  
                  
              
                    </div>
                  </div>
                </div>
                            
      <div class="col-12">
        <div class="card mb-4" >
            <div class="card-body">
              <h5 class="card-title">Constructive critical comments:<sup><i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#red1" style="cursor:pointer; font-size:12px; color: gray;"></i></sup></h5>
              <!-- Modal -->
              <div class="modal fade" id="red1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                </button>
                </div>
                <div class="modal-body">
                Hello2
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
                </div>
                </div>
                </div>
                </div> 
              
              <div class="form-group">
                
                <textarea class="form-control" id="negativeComments" name="negativeComments" rows="4" ></textarea>  
          
      </div>
            </div>
            </div>


          
            <div class="col-12">
              <div class="card mb-4" >
                  <div class="card-body">
                    <h5 class="card-title">Red flag comments: <sup><i class="fas fa-info-circle" data-bs-toggle="modal" data-bs-target="#red1" style="cursor:pointer; font-size:12px; color: gray;"></i></sup></h5>

<!-- Modal -->
              <div class="modal fade" id="red1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                </button>
                </div>
                <div class="modal-body">
                Hello2
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
                </div>
                </div>
                </div>
                </div> 
                              <div class="form-group">
                               
                                <textarea class="form-control" id="redComments" name="redComments" rows="4"></textarea>  
                          
                      </div>
                            </div>
                            </div>
                          
</div>
</div>
</div>
</div>
</div>
</div>








<!-- SUBMIT Button -->


<div class="row mb-3">
  <div class="col-sm-12 col-md-6">
    <br>
    
      <button type="submit" class="btn btn-primary">Submit</button>
    
  </div>
</div>
</form>
</div>
</div>




 

     
                  









<script>
  document.addEventListener("DOMContentLoaded", () => {
    const todayButton = document.getElementById("todayButton");
    const assessmentDateInput = document.getElementById("assessmentDate");

    todayButton.addEventListener("click", () => {
      const today = new Date();
      const year = today.getFullYear();
      const month = String(today.getMonth() + 1).padStart(2, "0");
      const day = String(today.getDate()).padStart(2, "0");
      const formattedDate = `${year}-${month}-${day}`;
      
      assessmentDateInput.value = formattedDate;
    });
  });
</script>

<% if (typeof success !== 'undefined' && success && success.length > 0) { %>
<script>
  setTimeout(function() {
    window.location.href = '/';  // Assuming '/' is the route to your home.ejs
  }, 3000);  // 3 seconds
</script>
<% } %>


<script>
  const valueToWordMapping = ["", "Poor", "Below Average", "Average", "Good", "Excellent"];
  const wordToColorMapping = {
    "Poor": "red",
    "Below Average": "orange",
    "Average": "green",
    "Good": "blue",
    "Excellent": "yellow"
  };

  // Function to update the slider value display for a specific slider
  const updateSliderValueDisplay = (slider, valueDisplay) => {
    const sliderValue = parseInt(slider.value);
    const word = valueToWordMapping[sliderValue];
    valueDisplay.textContent = word;

    // Update the color based on the word
    valueDisplay.style.color = wordToColorMapping[word] || 'rgb(251, 148, 111)'; // default color
  };
  
  // When the document is loaded, set up event listeners for all sliders
  document.addEventListener("DOMContentLoaded", () => {
    const sliders = document.querySelectorAll(".slider");
    const sliderValueDisplays = document.querySelectorAll(".slider-value");
  
    // Event listener for each slider to update its value display when interacted with
    sliders.forEach((slider, index) => {
      updateSliderValueDisplay(slider, sliderValueDisplays[index]);
  
      slider.addEventListener("input", () => {
        updateSliderValueDisplay(slider, sliderValueDisplays[index]);
      });
    });
  });
</script>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
    
    <script>
      // Function to format time components
      function formatTime(i) {
        if (i < 10) {
          i = "0" + i;
        }
        return i;
      }

       // Function to add the correct suffix to the day of the month
  function formatDate(i) {
    if (i < 4 || i > 20) {
      switch (i % 10) {
        case 1:  return i + "st";
        case 2:  return i + "nd";
        case 3:  return i + "rd";
      }
    }
    return i + "th";
  }
    
      // Function to update the digital clock and current date
      function updateClock() {
        var currentTime = new Date();
        var hours = formatTime(currentTime.getHours());
        var minutes = formatTime(currentTime.getMinutes());
        var seconds = formatTime(currentTime.getSeconds());
        var timeString = hours + ':' + minutes + ':' + seconds;

        var day = formatDate(currentTime.getDate());
    var month = currentTime.toLocaleString(undefined, { month: 'long' });
    var currentDate = month + ' ' + day;
    
        // var currentDate = currentTime.toLocaleDateString(undefined, { month: 'long', day: 'numeric' });
    
        document.getElementById('digital-clock').textContent = timeString;
        document.getElementById('current-date').textContent = currentDate;
      }
    
      // Update the clock every second
      setInterval(updateClock, 1000);
    </script>



    
    <script>
document.addEventListener('DOMContentLoaded', function() {
    let stars = document.querySelectorAll('.stars span');

    stars.forEach(star => {
        star.addEventListener('click', function(e) {
            let value = e.currentTarget.getAttribute('data-value');
            document.getElementById('ratingValue').value = value;

            // Reset the color for all stars
            stars.forEach(star => star.classList.remove('selected'));
            
            // Highlight the stars up to the clicked one
            for (let i = 0; i < value; i++) {
                stars[i].classList.add('selected');
            }

            // Update the text based on the selected star
            let ratingText = '';
            switch(value) {
                case '1':
                    ratingText = 'Significant Issues';
                    break;
                case '2':
                    ratingText = 'Struggling';
                    break;
                case '3':
                    ratingText = 'Meeting Expectations';
                    break;
                case '4':
                    ratingText = 'Exceeding Expectations';
                    break;
                case '5':
                    ratingText = 'Superstar!';
                    break;
            }

            document.getElementById('ratingText').textContent = ratingText;
        });
    });
});



    </script>

</body>



</html>